## Table of Comparison Operators 

* Comparison operators assists us to compare variables
* Comparison of variables results in a Boolean **True** or **False**

In the table below, **a=3** and **b=4**

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [4]:
3 == 3 # Strict equality

True

In [5]:
2 == 3

False

In [8]:
4.0 == 4

True

In [6]:
'a' != 'A' # Strict Inequality

True

In [7]:
'school' != "school"

False

In [9]:
4.0 > 3 # Strict greater than

True

In [10]:
2 > 4

False

In [11]:
2 < 2.0

False

In [12]:
'hello' < "Hello"
# Rarely used
# Unicode values of strings/characters are compared

False

In [13]:
2 >= 2

True

In [14]:
4 >= 12

False

In [15]:
2.0 >= 1.9

True

In [16]:
3 <= 3

True

In [17]:
24 <= 49

True

In [19]:
0 <= -1

False

## Combining/chaining more Comparisons
Using the **Logical Operators**

<pre>
Operator	Description	                                                      Example	
    and 	Returns True if both statements are true	                      x < 5 and  x < 10	
    or	  Returns True if one of the statements is true	                 x < 5 or x < 4	
    not	 Reverse the result, returns False if the result is true	       not(x < 5 and x < 10)
</pre>

In [20]:
3 <= 3

True

In [21]:
2 < 3

True

In [22]:
3 <= 3 > 2 # Both the above statements in one statement. Al Little organized statement

True

In [23]:
3 <= 3 and 3 > 2 # Same logic, more organized.

True

In [24]:
(3 <= 3) and (3 > 2) # same logic, more common practice, more readibility/organized

True

In [26]:
# OR operator

(3 <= 3) or (3 == 2) # in "or" operator, if either comparison is True, the result will be true, otherwise False

True

In [27]:
('H' == 'h') or (2.0 <= 2)

True

In [28]:
# The "not" operator just reverses/inverts the boolean result
# The same above comparison with "not" operator. As you can see it takes only ONE operand
# Both the comparisons inside the not is considered as ONE operand

not (('H' == 'h') or (2.0 <= 2))

False