## Strings are immutable

You cannot reassign a value/character once a string is defined

In [1]:
dept = "Information Systems"

In [2]:
print(dept[2])
dept # Just streaming it

f

'Information Systems'

In [4]:
dept[2] = 's' 
# Reassinging. Will give you an error as strings are immutable

TypeError: 'str' object does not support item assignment

### You can add another string to an existing ones

**String Concatenation**
* String Addition using the "+" symbol. We have seen this earlier
* String Multiplication using the * symbol

Lets see some examples:

In [5]:
dept

'Information Systems'

In [6]:
dept = "Department of " + dept

In [7]:
dept

'Department of Information Systems'

In [8]:
2 + dept # You cannot concatenate a string and an integer

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
'2' + '3' 
# is not a mathematical addition, its string concatenation

'23'

#### String Multiplication
Repeating a string n-times

In [10]:
dept

'Department of Information Systems'

In [11]:
dept * 3 # Repeats the string three times

'Department of Information SystemsDepartment of Information SystemsDepartment of Information Systems'

In [12]:
dept 
# The above statement does not change the actual string value unless it is redefined

'Department of Information Systems'

In [13]:
dept = 2 * dept # redefining change the actual value

In [14]:
dept

'Department of Information SystemsDepartment of Information Systems'

## Some string functions/methods

In [15]:
x = "Dept of Information Systems"

In [16]:
x.capitalize() # Capatilize the first letter only.

'Dept of information systems'

In [17]:
x.upper() # Convert the strings characters to uppercase

'DEPT OF INFORMATION SYSTEMS'

In [18]:
print(x) 
# again new value after method application will only be effective
# if you redefine it, e.g. x = x.upper()

Dept of Information Systems

In [19]:
x.replace("Information Systems", "Finance")
# takes 2 arguments, the string to be replaced and the new string

'Dept of Finance'

In [20]:
y = x.split() # splits the string based on the WHITE SPACES (default)

print(y)

['Dept', 'of', 'Information', 'Systems']

* You can also split a string based on certain character in the string
* Just like in default, white spaces are removed, the splitting character will also be remove when split is performed on a specific character

For example:

In [21]:
x.split('e')

['D', 'pt of Information Syst', 'ms']

In [ ]:
x.split('f')